@model IEnumerable<StoreApp.Core.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Is tabular data so will be using a table*@
<h2>Item List</h2>
<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>
           Price
        </th>
        <th>
            Quantity
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.item_id }) |
            @Html.ActionLink("Delete", "DeleteItem", new { item_id=item.item_id })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Add New Item", "AddItem", new { @class = "btn btn-primary" })
</p>
